@use './utils/variables' as *;
@use './base/base';
@use './base/frame';
@use './base/loader';
@use './mixins/links';

.frame__back {
  @extend %link;

  position: fixed;
  top: 3rem;
  left: 3rem;
  z-index: 1000;
  color: $color-gray;
  text-decoration: none;
  font-size: 15px;

  &:hover {
    opacity: 0.7;
  }
}